@import "rem", "font", "my-mixin";
@import "bootstrap/bootstrap";
@import "my-bootstrap";
@import "jquery.scrolling-tabs.css";

/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

.mCenter {
    margin: 0 auto;
}

* {
    @include box-sizing;
    @include ani();
}

input,
select,
textarea {
    @include border-radius(0);
    /*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}

a {
    text-decoration: none;
    color: $gray-900;

    &:hover {
        text-decoration: none;
    }
}
/*font*/
html {
    min-width: $min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}

@media (max-width:360px) {
    html {
        font-size: 14px;
    }
}
@media (min-width:361px) and (max-width:480px) {
    html {
        font-size: 16px;
    }
}
@media (min-width:481px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
    color: $gray-900;

}

.sr-only {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

/* style */
body {
    padding: rem(10px);
    text-align: center;

    button.btn {
        margin-bottom: rem(15px);
    }

    div.custom-control {
        margin-bottom: rem(15px);
    }

    ul#myTab {
        
        li {
            border: 1px solid #ddd;

            &:nth-child(2) {
                border-left: none;
                border-right: none;
            }

            a {

                &.active {
                    background: $success;
                    color: #fff;
                }
            }
        }
    }

    div.tab-content {
        background: $light;
        padding: rem(10px);
        margin-bottom: rem(15px);
    }
}